{
  "ts": {{ unix_time_stamp(0) | tojson }},
  "event_type": "dns",
  "src_ip": {{ randoms("10.10.1.45|10.10.1.67|10.10.2.89|10.10.3.12|10.10.4.156|10.10.5.234|10.10.6.78|10.10.7.190|10.10.8.23|10.10.9.145|192.168.1.100|192.168.1.105|192.168.2.50|192.168.3.75|172.16.0.10|172.16.1.20|172.16.2.30") | tojson }},
  "dst_ip": {{ randoms("8.8.8.8|8.8.4.4|1.1.1.1|1.0.0.1|9.9.9.9|149.112.112.112|208.67.222.222|208.67.220.220|64.6.64.6|64.6.65.6|10.10.0.53|10.10.1.53|192.168.0.1") | tojson }},
  "query": {{ randoms("login.example.com|api.example.com|cdn.example.com|updates.example.net|telemetry.example.io|analytics.google.com|www.facebook.com|api.twitter.com|s3.amazonaws.com|github.com|stackoverflow.com|www.microsoft.com|login.microsoftonline.com|accounts.google.com|www.linkedin.com|api.slack.com|zoom.us|teams.microsoft.com|drive.google.com|dropbox.com|mail.google.com|outlook.office365.com|www.youtube.com|www.reddit.com|www.wikipedia.org|www.cloudflare.com|registry.npmjs.org|pypi.org|hub.docker.com|kubernetes.io|grafana.com|prometheus.io|elastic.co|splunk.com|datadog.com|newrelic.com|pagerduty.com|atlassian.net|jira.atlassian.com|confluence.atlassian.com|bitbucket.org|gitlab.com") | tojson }},
  "qtype": {{ randoms("A|A|A|A|AAAA|AAAA|TXT|MX|CNAME|PTR|SRV|NS") | tojson }},
  "rcode": {{ randoms("NOERROR|NOERROR|NOERROR|NOERROR|NOERROR|NOERROR|NOERROR|NXDOMAIN|NXDOMAIN|SERVFAIL|REFUSED") | tojson }},
  "latency_ms": {{ integer(1, 150) }},
  "query_class": {{ randoms("IN|IN|IN|IN|CH|HS") | tojson }},
  "protocol": {{ randoms("UDP|UDP|UDP|TCP|TCP|DoH|DoT") | tojson }},
  "dns_flags": {{ randoms("RD|RD RA|RD RA AD|RD RA AD CD|AA RD RA") | tojson }},
  "answer_count": {{ integer(0, 5) }},
  "authority_count": {{ integer(0, 3) }},
  "additional_count": {{ integer(0, 2) }}
}
