{%- set dst_choice = randoms("10.1.0.0/16|10.2.0.0/16|172.16.0.0/16|external") -%}
{%- set dst_ip = ip(dst_choice) if dst_choice != "external" else randoms("8.8.8.8|1.1.1.1|93.184.216.34|151.101.1.140") -%}
{
    "timestamp": {{ now() }},
    "flow_id": {{ random_string_vocabulary(16, 20, "0123456789abcdef") | tojson }},
    "device_name": {{ randoms(data.devices) | tojson }},
    "device_ip": {{ randoms("10.0.0.1|10.0.0.2|10.0.1.1|10.0.2.1|10.0.3.1|172.16.0.1|172.16.1.1") | tojson }},
    "interface_in": {{ randoms(data.interfaces) | tojson }},
    "interface_out": {{ randoms(data.interfaces) | tojson }},
    "vlan_id": {{ integer(1, 4094) }},
    "vlan_name": {{ randoms("PROD-WEB|PROD-APP|PROD-DB|DEV-NETWORK|QA-NETWORK|MGMT|DMZ|GUEST|IOT|VOICE") | tojson }},
    "src_ip": {{ ip("10.1.0.0/16") | tojson }},
    "dst_ip": {{ dst_ip | tojson }},
    "src_port": {{ integer(1024, 65535) }},
    "dst_port": {{ randoms(data.known_ports) | int }},
    "protocol": {{ integer(1, 255) }},
    "protocol_name": {{ randoms("TCP|TCP|TCP|TCP|UDP|UDP|ICMP|GRE|ESP|AH|SCTP") | tojson }},
    "tcp_flags": {{ randoms("SYN|SYN ACK|ACK|PSH ACK|FIN ACK|RST|RST ACK") | tojson }},
    "tos": {{ integer(0, 255) }},
    "bytes_in": {{ integer(64, 10485760) }},
    "bytes_out": {{ integer(64, 10485760) }},
    "packets_in": {{ integer(1, 100000) }},
    "packets_out": {{ integer(1, 100000) }},
    {# end is pinned to "now" and start is up to 300s earlier so start <= end always #}
    "flow_start_time": {{ unix_time_stamp(300) }},
    "flow_end_time": {{ unix_time_stamp(0) }},
    "flow_duration": {{ integer(1, 300) }},
    "src_as": {{ integer(1, 65535) }},
    "dst_as": {{ integer(1, 65535) }},
    "src_mask": {{ integer(8, 32) }},
    "dst_mask": {{ integer(8, 32) }},
    "direction": {{ randoms("ingress|egress|internal|external") | tojson }},
    "sampling_rate": {{ integer(1, 10000) }},
    "application": {{ randoms("HTTP|HTTPS|SSH|FTP|DNS|SMTP|POP3|IMAP|RDP|VNC|MYSQL|POSTGRESQL|MONGODB|REDIS|ELASTICSEARCH|KAFKA|RABBITMQ|UNKNOWN") | tojson }},
    "application_category": {{ randoms("Web|Email|Database|File-Transfer|Remote-Access|Messaging|Streaming|Gaming|P2P|VoIP|VPN|Cloud|Unknown") | tojson }}
}
