{
  "ssn":           {{ regex("\\d{3}-\\d{2}-\\d{4}") | tojson }},
  "phone":         {{ regex("\\(\\d{3}\\) \\d{3}-\\d{4}") | tojson }},
  "zip_code":      {{ regex("\\d{5}") | tojson }},
  "license_plate": {{ regex("[A-Z]{3}-\\d{4}") | tojson }},
  "hex_color":     {{ regex("#[0-9A-F]{6}") | tojson }},
  "username":      {{ regex("[a-z]{5,10}") | tojson }},
  "product_code":  {{ regex("[A-Z]{2}\\d{3}[A-Z]") | tojson }},
  "timestamp":     {{ now() | tojson }}
}
